<div  style="background-color: #f2f8f9;">  
<div class="row">

  <div class="col-12 grid-margin">
 
    <div class="card">
     <!-- ******************************************************************** -->
    <!-- 							breadcrumbs								 -->
    <!-- ******************************************************************** -->
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb breadcrumb-custom">
              <li class="breadcrumb-item"><a href="#">Ressources génétiques</a></li>
              <li class="breadcrumb-item active" aria-current="page"><span>Ressources génétiques d'alimentation et d'agriculture</span></li>
            </ol>
          </nav>
          
          <header>
	         <h1 style="font-weight: bold;letter-spacing: 1px; font-size: 28px; color:white; padding-top:180px;margin-lef:300px;text-align:center;">
					Ressources génétique d'alimentation et d'agriculture</h1>
		
			</header>
          <div class="card-body">
	      
	         <p>	La biodiversité s'appauvrit à un rythme exponentiel.Environ 17 % des races de bétail sont en voie d'extinction
				et sur les milliers d'espèces de plantes cultivables,
				seules 30 produisent 95 % de nos aliments-énergie.
				Des ressources génétiques pour une production
				alimentaire durable.</p>
				
				<p>
				La biodiversité agricole (p. ex., végétaux, animaux,
				ressources aquatiques, forêts, micro-organismes,
				invertébrés) constitue un vecteur de conservation qui
				joue un rôle crucial dans la production alimentaire, le
				développement rural et l'environnement. La diversité
				génétique permet aux agriculteurs d'adapter leur
				production au changement climatique et aux préférences
				des consommateurs. Elle atténue également
				l'impact des nuisibles et des maladies, améliore les
				qualités nutritives des régimes alimentaires et protège
				les habitats et les sols.
				</p>
				<p>
				La FAO héberge dans ses locaux la Commission
				des ressources génétiques pour l'alimentation et
				l'agriculture et a adopté le Traité international sur les
				ressources génétiques végétales pour l'alimentation
				et l'agriculture. Ces deux initiatives militent en faveur
				de l'utilisation durable et de la conservation des
				ressources génétiques ainsi que du partage juste et
				équitable de leurs bénéfices. La Commission guide
				l'élaboration de rapports sur l'état des ressources génétiques
				dans le monde et convient de plans d'action
				internationaux en réponse à leurs conclusions.
				</p>
	<!-- ******************************************************************** -->
    <!-- 							boutton catégories  					 -->
    <!-- ******************************************************************** -->
    </div>
     <!--   <ngb-carousel *ngIf="images">
			  <ng-template ngbSlide>
			    <div class="picsum-img-wrapper">
			      <img [src]="images[0]" alt="Random first slide"  style="width: 100%; height: 30vh">
			    </div>
			    
			  </ng-template>
			  <ng-template ngbSlide>
	    		<div class="picsum-img-wrapper">
			      <img [src]="images1[1]" alt="Random second slide"  style="width: 100%; height: 30vh">
			    </div>
		  	  </ng-template>
			  <ng-template ngbSlide>
			    <div class="picsum-img-wrapper">
			      <img [src]="images2[1]" alt="Random third slide" style="width: 100%; height: 30vh">
			    </div>
			   <!--  <div class="carousel-caption">
			      <h3>Third slide label</h3>
			      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
			    </div>--
			  </ng-template>
		</ngb-carousel>
	
   <!-- ******************************************************************** -->
    <!-- 							page contenu							 -->
    <!-- ******************************************************************** -->
      
      <div class="card-body">
	     
	<!-- ******************************************************************** -->
    <!-- 							boutton catégories  					 -->
    <!-- ******************************************************************** -->
    <button class="btn btn-success btn-fw" type="button" routerLink="/RGAA/catégories" >Catégories de RGAA</button><br><br>
    <button class="btn btn-success btn-fw" type="button" routerLink="/RGAA/rgaacat" >Ressources génétiques</button>
    </div>
  </div>
  </div>
</div>
</div>