header {
  width: 100%;
  height: 200px;
  background: url('/assets/images/RGAA/rgaanew.png') center center no-repeat;
  background-size: cover;
  
}


.right {
  float: right
}
input {
   border-color: #d3cccc;
}
textarea
{
	 border-color: #d3cccc;
}
.li.active
{
    background: red;
}


