

<!-- =================================================================================================================== -->
<!-- ****************************			 le corps de la présentation								***************** -->
<!-- =================================================================================================================== -->

<div class="row">
  <div class="col-12 grid-margin">
  
    <div class="card">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb breadcrumb-custom">
              <li class="breadcrumb-item"><a href="#">RG</a></li>
              <li class="breadcrumb-item"><a href="#">RGAA</a></li>
              <li class="breadcrumb-item active" aria-current="page"><span>Catégories</span></li>
            </ol>
          </nav>
     <img src="assets/images/dashboard/rgaa2.png" alt="logo" style="width:1030px;height:320px;border-color:white;padding-left:-20px;"/>
            
      <div class="card-body">
      
          <div class="card-body">
          <h1 class="card-title mb-4">Manage Tickets</h1>
          <button routerLink="/customers">Customers</button>
			<button routerLink="/orders">Orders</button>
			<button routerLink="">Home</button>
           </div>
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        
         
          <h1 class="card-title mb-4">Manage Tickets</h1>
    </div>
  </div>
  </div>
</div>
